# Семинар 2

### Глава минус первая: что было в прошлый раз?
1. Арифметика (`+`, `-`, `*`, `/`, `//`, `**` и т.д.),
2. Переменные (запись в переменную и ее изменение),
3. Операции српвнения (`>`, `<`, `==` и т.д.),
4. Типы данных (`int`, `float`, `bool`, `str`),
5. Ввод и вывод (`print`, `input`)

### Глава нулевая: по следам семинара 1

0. В питоне есть функции минимума `max()` и максимума `min()`, а еще, например модуля `abs()` и округления `round()`.

In [2]:
a = 5
b = 10
print(max(a, b))
print(min(a, b))

10
5

In [3]:
print(abs(-4), abs(0), abs(4))
print(round(3.1415926535897932384626433832795), round(3.1415926535897932384626433832795, 3))

4 0 4
3 3.142

In [ ]:
round(3.5)

4

In [7]:
round(2.5)

2

1. Как сравниваются строки?

In [8]:
"abcd" < "cde"

True

In [9]:
"abcd" > "Abcd"

True

In [10]:
"артем" > "тёма"

False

In [11]:
"1" > "!"

True

In [12]:
ord("a")

97

In [13]:
ord("A")

65

In [14]:
ord("1")

49

In [15]:
ord("ф")

1092

In [ ]:
"ф" > "h"

2. bool – это int :)

In [16]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
print(True + 1)
print(10 * False - True)

2
-1

In [19]:
int(True)

1

In [20]:
int(False)

0

### Форматирование

1. Есть такой особый вид строк $-$ форматированные строки (formatted strings) или f-строки (f-strins). Они требуют букву `f` перед открывающей кавычкой, и позволяют удобнее работать с выводом. Так, внутрь фигурных скобок `{...}` можно подавать переменные.

In [24]:
height = 178

print('Тёма', height, 'сантиметров ростом.')
print('Рост Тёмы -', height // 100, 'м', height % 100, 'см.')
print('Рост Тёмы - ' + str(height // 100) + 'м ' + str(height % 100) + 'см.')

Тёма 178 сантиметров ростом.
Рост Тёмы - 1 м 78 см.
Рост Тёмы - 1м 78см.

In [28]:
print(f'Рост Тёмы - {height // 100}м {height % 100}см. {{}}')

Рост Тёмы - 1м 78см. {}

А еще при помощи них можно, например:
- обрезать / добавлять знаки после точки
- дополнять символами по краям

Подробнее читайте [тут](https://docs.python.org/3/tutorial/inputoutput.html#fancier-output-formatting).

In [29]:
pi = 3.1415926535897932384626433832795
print(f'Если округлить число пи до трех знаков, оно будет равно {pi:.3f}!')

Если округлить число пи до трех знаков, оно будет равно 3.142!

In [30]:
# В гугл: python format strings round 3 digits

In [31]:
name_1 = 'Катя'
height_1 = 173
name_2 = 'Антон'
height_2 = 181
name_3 = 'Тёма'
height_3 = 178

print(f'{name_1:10} ==> {height_1:10d}')
print(f'{name_2:10} ==> {height_2:10d}')
print(f'{name_3:10} ==> {height_3:10d}')

Катя       ==>        173
Антон      ==>        181
Тёма       ==>        178

In [33]:
"{}.{}".format(3, 14)

'3.14'

In [32]:
left_alignment = 'Left Text'
center_alignment = 'Centered Text'
right_alignment = 'Right Text'

print(f'{left_alignment:.<20}{center_alignment:.^15}{right_alignment:.>20}')

Left Text............Centered Text...........Right Text

2. Вводить в питоне можно не только одно число/строку. Вот такая конструкция позволяет ввести несколько чисел через пробел:

In [ ]:
map(int, input().split())

In [34]:
x, y, z = map(int, input().split())

In [35]:
y

2

Давайте разбемся, как это работает.
Пусть мы введем числа 1 2 3

```(python)
input()  # '1 2 3'
input().split()  # ['1', '2', '3']
map(int, input().split())  # [1, 2, 3] -- на самом деле это не совсем правда, но грубо говоря так
```

Более того, вводить можно не только через пробел:

In [36]:
year, month, day = map(int, input().split("-"))

Из этого следует, что вводить можно не только числа, но и

In [ ]:
first_name, last_name = input().split()  # строки

latitude, longitude = map(float, input().split())  # вещественные числа

first_name, last_name, _ = input().split()  # вот так можно проигнорить отчество
first_name, last_name, *_ = input().split()  # вот так можно проигнорить вообще все что введется после

In [43]:
first_name, last_name, *_ = input().split()
print(last_name, first_name)

стрельцов тёма

In [44]:
_

['преподаватель', 'работяга', 'студент', 'ааааа']

In [ ]:
print(_)

А еще, параллельное присваивание работает не только с вводом:

In [37]:
x, y = 3, 5
x, y = y, x  # поменяли местами
print(x, y)

5 3

### 2. Условные операторы

#### База

Программы, которые мы видели раньше, имели линейную структуру: все действия выполняются обязательно и в той последовательности, что мы написали их в скрипте. Иногда нам хочется получать разное поведение в зависимости от какого-либо условия. Давайте подумаем над таким примером задачи.

> *Спросите у пользователя его рост в сантиметрах и скажите на сколько целых вершков он ниже, чем Петр I (рост Петра I = 203 см, один вершок = 4.445 см).*

<details><summary>Возможное решение:</summary>
    
```python
user_height = int(input('Введите свой рост в сантиметрах\n'))
peter_height = 203
delta = int((peter_height - user_height) // 4.445)
print(f"Петр I выше вас на {delta} вершков")
```
</details>

Но если вдруг пользователь выше двух метров, то мы получим отрицательную разницу. В таком случае логичнее сказать, что Петр ниже на Х вершков. Для таких случаев в питоне есть условный оператор **`if/else`**.

Выглядит он следующим образом:

```python
if Условие:
    Блок инструкций 1
else:
    Блок инструкций 2
```

In [45]:
user_height = int(input('Введите свой рост в сантиметрах\n'))
peter_height = 203
delta = int((peter_height - user_height) // 4.445)

if delta >= 0:  # если разница неотрицательная, то
    print(f"Петр I выше вас на {delta} вершков")
else:  # иначе/если разница отрицательная
    print(f"Петр I ниже вас на {-delta} вершков")

Петр I выше вас на 5 вершков

**Внутри условий могут быть:**

- операторы сравнения (`==`, `<`, `>`, `!=`, ...)

In [ ]:
tutor_name = input()

if tutor_name == "Тёма":
    print("Я в группе 1.")
else:
    print("Наверное, я ошибся семинаром...")

In [ ]:
False == 0

In [ ]:
True == 1

In [48]:
bool(1)

True

In [49]:
bool(-5)

True

In [50]:
bool(0)

False

In [ ]:
number = int(input())

if number % 2 != 0:  # можно писать просто if number % 2, ведь 1 это True, а 0 -- это False
    print("Number is odd")
else:
    print("Number is even")

Number is even

- нулевые vs ненулевые значения

In [53]:
some_string = input()

if some_string:
    print("Case 1")  # <---- подумайте, в каких случаях выведется это
else:
    print("Case 2")  # <---- а в каких это

Case 1

- выражения с `in`

In [59]:
some_word = input('Введите слово, в котором есть буква Ю:\n')

if 'ю' in some_word.lower():  # в строке есть буква Ю
    print('Ю-ху!')
else:
    print("Я же просила с Ю ;(")

Ю-ху!

- и другие вещи, которые каким-либо образом могут преобразоваться в bool (например, `is`)

Также условие может включать логическое выражение с несколькими условиями с использованием `and`, `or`, `not`.

In [ ]:
# Выведем ошибку, если число не соответствует условию
x = int(input('Введите однозначное положительное число\n'))
if 0 < x and x < 10:  # или 0 < x < 10
    print('Спасибо!')
else:
    print('Что-то пошло не так')

# И – конъюнкция
# ИЛИ – дизъюнкция

При этом блок `else` может отсутствовать.

In [64]:
print("hello", "world")
print("goodbye")

hello world
goodbye

In [66]:
# Преобразуем число, если оно отрицательное
x = int(input('Введите число\n'))
if x < 0:
    x = -x
print(x)

5

#### Вложенные условия

Внутри условных операторов можно использовать любые блоки кода, например, все те же условные операторы, чтобы получить двойную вложенность.

Например, представьте, что вы пытаетесь проверить является ли год високосным.
1. Если год делится на 4 без остатка, перейдите на шаг 2. В противном случае перейдите к выполнению действия 5.
2. Если год делится на 100 без остатка, перейдите на шаг 3. В противном случае перейдите к выполнению действия 4.
3. Если год делится на 400 без остатка, перейдите на шаг 4. В противном случае перейдите к выполнению действия 5.
4. Год високосный (366 дней).
5. Год не високосный год (365 дней).

In [71]:
year = int(input())

if year % 4 == 0:  # можно еще просто if not year % 4:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Год високосный')
        else:
            print('Год не високосный')
    else:
        print('Год високосный')
else:
    print('Год не високосный')

Год високосный

#### Каскадные условия

Питон позволяет писать блок из нескольких условий, которые будут проверяться последовательно с помощью выражения `elif`

В такой конструкции условия `if`, ..., `elif` проверяются по очереди, выполняется блок, соответствующий первому из истинных условий. Если все проверяемые условия ложны, то выполняется блок `else`, если он присутствует.

In [ ]:
song_name = input()

if song_name == "Wind of change":
    print("Seems like it's Scorpions")
elif song_name == "My mistakes were made for you":
    print("I know it's The Last Shadow Puppets")
elif song_name == "Californication":
    print("Is it RHCP?")
else:
    print("Cannot understand you. Try again")

In [ ]:
n = int(input())

if n % 2 == 0 and n % 3 == 0:  # можно также if not n % 2 and not n % 3
    print("Делится на 6")
elif n % 2 == 0:
    print("Делится на 2")
elif n % 3 == 0:
    print("Делится на 3")
else:
    print("Не делится ни на 2, ни на 3")

Все условия работают лениво: сначала проверяется первое, потом второе и так далее:

In [72]:
n = int(input())

if n % 2 == 0 and n % 3 == 0:
    print("Делится на 6")
elif n % 2 == 0:
    print("Делится на 2")
elif n % 3 == 0:
    print("Делится на 3")
elif n % 2 == 0 or n % 3 == 0:
    print("Делится или на 2 или на 3")  # <---- никогда не выведется
else:
    print("Не делится ни на 2, ни на 3")

Делится на 2

In [ ]:
year = int(input())

if year % 400 == 0:
    print("високосный")
elif year % 4 == 0:  # потому что год и так не делится на 100 из-за предыдущего условия
    print("високосный")
else:
    print("не високосный")

високосный

альтернативно:

In [ ]:
year = int(input())

if year % 400 == 0 or year % 4 == 0:
    print("високосный")
else:
    print("не високосный")

In [74]:
1 / 0

ZeroDivisionError: division by zero

In [76]:
n = int(input())

if n > 0 and n / 0 == 0:
    print("Программа не упала")  # Всегда выведет ошибку, если число больше 0

ZeroDivisionError: division by zero

In [78]:
n = int(input())

if n > 0 or n / 0 == 0:
    print("Программа не упала")  # Никогда не выведет ошибку, если число больше 0

ZeroDivisionError: division by zero

In [79]:
n = int(input())

if n > 0 or not n / 0:  # <---- обратите внимание, несмотря на not, это тоже не упадет, если n > 0
    print("Программа не упала")

Программа не упала

<details><summary>Дополнительно</summary>
В питоне есть хитрые и менее очевидные способы использовать условия:

```python
num = int(input("Введите число"))
print("Отрицательное" if num < 0 else "Неотрицательное")

best_num = num if num > 0 else 0
print(f'Лучшее на свете число - {best_num}')
```
</details>

<details><summary>[Факультативно] В Python 3.10 появился Pattern Matching</summary>
который позволяет делать это вот так:

```python
match tutor_name:
    case "Тёма":
        print("Я в группе 1.")
    case _:
        print("Наверное, я ошибся семинаром.")
```

Но мы намеренно не рассматриваем эту конструкцию сейчас, она сильно более обширна, чем матчинг примитивов, поэтому постараемся поговорить про нее позже.
</details>

##### Немного о моржах

Давайте упростим конструкцию за счет возможностей Python 3.8:

In [81]:
if (tutor_name := input()) == "Тёма":
    print("Я в группе 1.")
else:
    print(f"Кажется {tutor_name} - семинарист другой группы")

Кажется Олег - семинарист другой группы

Но вообще моржовый оператор очень коварен и может вводить в заблуждение. Вокруг него в целом было много шумихи в сообществе языка, и это спровоцировало уход из комитета самого Гвидо Ван Россума.

In [84]:
if tutor_name := input() == "Тёма":  # что станет если мы забудем про скобки?
    print("Я в группе 1.")
else:
    print(f"Кажется {tutor_name} - семинарист другой группы")

Кажется False - семинарист другой группы